<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/app.css">
    <title>{% block title%}{% endblock %}</title>
</head>

<body>
    <h1>BOGGLE</h1>
    <aside id="game-data">
        <div id="high-score-wrapper">
            <p><b>High Score:</b> <span id="high-score"></span></p>
        </div>
        <div id="score-wrapper">
            <p><b>Score:</b> <span id="score"></span></p>
        </div>
        <div id="timer-wrapper">
            <p><b>You have:</b> <span id="timer"></span> seconds remaining!</p>
            <button id="start">START GAME</button>
        </div>
        <div id="played-wrapper">
            <p>You have played <span id="played"></span> times.</p>
        </div>
        <div id="msg"></div>
        <div id="words-wrapper">
            <ul id="words-list">Words Found:</ul>
        </div>
    </aside>
    <section id="game">
        <table id="gameboard">
            <tbody>
                {% for row in board %}
                <tr class="row">
                    {% for cell in row %}
                    <td class='column'>
                        {{cell}}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div id="guess_form_wrapper">
            <form action="" id="guess_form">
                <label for="guess_input_box">GUESS:</label>
                <input type="text" id="guess_input_box">
                <button id="guess_submit_button">Submit</button>
            </form>
        </div>
    </section>
    {% block body %}
    {% endblock %}
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="static/oo_boggle.js"></script>
</body>

</html>